h1,
h2,
p {
    font-family: 'Arial';
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.footnote-item,
.footnote-item p {
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
}